{% extends "pages/index2.html" %}

{% block app-content %}
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle" src={{ user.get_image }} alt="User profile picture">
                    </div>
    
                    <h3 class="profile-username text-center">{{ user.username }}</h3>
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b>Publicaciones</b> <a class="float-right">{{ stories_count }}</a>
                      </li>
                    </ul>
                    
                    {% if request.user.pk == user.pk %}
                      <a href={% url 'update_profile' user.pk %} class="btn btn-primary btn-block"><b>Editar Perfil</b></a>
                      <a href={% url 'update_password' user.pk %} class="btn btn-primary btn-block"><b>Editar Password</b></a>
                    {% endif %}
                    {% if request.user.pk != user.pk %}
                      <a href={% url 'direct_chat' user.username %} class="btn btn-primary btn-block"><b>Enviar Mensaje</b></a>
                    {% endif %}
                    </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="activity">
                        <!-- /.post -->
                        {% for story in stories %}
                        <!-- Post -->
                        <div class="post">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src={{ story.user.get_image }} alt="User Image">
                            <span class="username">
                              <a href="#">{{ story.user.get_full_name }}</a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                            </span>
                            <span class="description">{{ story.category }}</span>
                          </div>
                          <!-- /.user-block -->
                          <p>
                            {{ story.description }}
                          </p>
                          <div class="row mb-3">
                          {% if story.is_image %}
                              <img class="img-fluid" src={{ story.get_file }} alt="Photo">
                          {% elif story.is_video %}
                            <video width="100%" controls><source src="{{ story.get_file }}" type="video/mp4">Your browser does not support the video tag.</video>
                          {% endif %}
                        </div>
                          <p>
                            <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                            <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me Gusta</a>
                            <span class="float-right">
                              <a href={% url 'create_comment' story.pk %} class="link-black text-sm">
                                <i class="far fa-comments mr-1"></i> Comentarios ({{ story.comment_count }})
                              </a>
                            </span>
                          </p>    
                        </div>
                        <!-- /.post -->
                      {% endfor %}
                      </div>
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
{% endblock %}
