{% extends "pages/index2.html" %}
{% load static %}

{% block app-content %}
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills mb-3">
                    <li class="nav-item">
                      <a class="nav-link {% if not selected_category %}active{% endif %}" href="{% url 'create_story' %}">Todo</a>
                    </li>
                    {% for category in categories %}
                    <li class="nav-item">
                      <a class="nav-link {% if selected_category == category.id %}active{% endif %} w-100" href="?category={{ category.id }}">
                        {{ category.name }}
                      </a>
                    </li>
                    {% endfor %}
                  </ul>

    
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header p-2">
                    <div class="tab-content">
                      <div class="tab-pane active" id="activity">
                          

                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="activity">
                        {% if user.is_authenticated %}
                        
                        <!-- Post -->
                        <div class="post clearfix">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src={{ request.user.get_image }} alt="User Image">
                            <span class="username">
                              <a href="#">{{ request.user.get_full_name }}</a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                            </span>
                            <span class="description">Cuenta tu historia. </span>
                          </div>
                          <!-- /.user-block -->
                          <form action="." method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{{ action }}">
                            {% for field in form.visible_fields %}
                            <div class="mb-3">
                              <label for="form-label">{{ field.label }}:</label>
                              {{ field }}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success w-100">Crear Historia</button>
                          </form>
                        </div>
                        <!-- /.post -->
                        {% endif %}
                        {% for story in stories %}
                        <!-- Post -->
                        <div class="post">
                          <div class="user-block">
                            <img class="img-circle img-bordered-sm" src={{ story.user.get_image }} alt="User Image">
                            <span class="username">
                              <a href="#">{{ story.user.get_full_name }}</a>
                              <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                            </span>
                            <span class="description">{{ story.category }}</span>
                          </div>
                          <!-- /.user-block -->
                          <p>
                            {{ story.description }}
                          </p>
                          <div class="row mb-3">
                          {% if story.is_image %}
                              <img class="img-fluid" src={{ story.get_file }} alt="Photo">
                          {% elif story.is_video %}
                            <video width="100%" controls><source src="{{ story.get_file }}" type="video/mp4">Your browser does not support the video tag.</video>
                          {% endif %}
                        </div>
                          <p>
                            <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                            <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me Gusta</a>
                            <span class="float-right">
                              <a href={% url 'create_comment' story.pk %} class="link-black text-sm">
                                <i class="far fa-comments mr-1"></i> Comentarios ({{ story.comment_count }})
                              </a>
                            </span>
                          </p>    
                        </div>
                        <!-- /.post -->
                      {% endfor %}

                      </div>
                      <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
              <div class="col-md-3">
              
              </div>
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
{% endblock %}
